defaults/flow.json
[{"id":"82cce694.7dc918","type":"stop virtual device","z":"ef0e4c34.537c1","name":"Stop Elevator","deviceId":"","schema":"40b03d0d.cdc244","x":787.6190910339355,"y":1599.0001602172852,"wires":[[]]},{"id":"176c6b5e.16d135","type":"start virtual device","z":"ef0e4c34.537c1","name":"Start Elevator","deviceId":"","schema":"40b03d0d.cdc244","outputs":1,"x":369.8571472167969,"y":185,"wires":[["ae2ae25.ad2572"]]},{"id":"a1776bdc.5070d8","type":"ibmiot in","z":"ef0e4c34.537c1","authentication":"apiKey","apiKey":"","inputType":"cmd","deviceId":"Elevator11","applicationId":"","deviceType":"Elevator","eventType":"+","commandType":"maintenance_command","format":"json","name":"On Maintenance Command","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":195.11912536621094,"y":1446.5713901519775,"wires":[["42d82d2f.174ae4","f40ee798.8964b8"]]},{"id":"f40ee798.8964b8","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Maintenance Stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload.stop","x":461.6191101074219,"y":1467.5714206695557,"wires":[[]]},{"id":"44a371de.f1185","type":"generate event","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","evt":"0612deed98b7","name":"Send Status Event","x":688.1427917480469,"y":1050.9998779296875,"wires":[["b4af9174.b2d89"]]},{"id":"da2bfd0b.2f19a","type":"comment","z":"ef0e4c34.537c1","name":"Start Device","info":"","x":372.85715103149414,"y":141.49999904632568,"wires":[]},{"id":"8ff4cfff.43422","type":"comment","z":"ef0e4c34.537c1","name":"Stop Device","info":"","x":139.83331298828125,"y":1557.2858047485352,"wires":[]},{"id":"7f13bd6c.2ff174","type":"comment","z":"ef0e4c34.537c1","name":"Handle maintenance commands","info":"","x":196.49993896484375,"y":1397,"wires":[]},{"id":"6ef7b2f8.1714ec","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"check if not in maintenance state","func":"if(state === \"maintenance\"){\n return [null, msg];\n}\nelse {\n return [msg, msg];\n}","outputs":"2","noerr":0,"x":379.6786804199219,"y":1039.9998931884766,"wires":[["44a371de.f1185"],["b5a47bac.53a318"]]},{"id":"b5a47bac.53a318","type":"delay","z":"ef0e4c34.537c1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":398.2143249511719,"y":1111.5713500976562,"wires":[["6ef7b2f8.1714ec"]]},{"id":"42d82d2f.174ae4","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload.reason","x":464.9762878417969,"y":1428.5714054107666,"wires":[[]]},{"id":"d4aa186c.e78778","type":"generate event","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","evt":"21024c33b8dd","name":"Send Maintenance Stop","x":824.2142639160156,"y":1241.2857666015625,"wires":[["b4af9174.b2d89"]]},{"id":"88548206.3ff26","type":"comment","z":"ef0e4c34.537c1","name":"Switch States","info":"","x":112.5,"y":331.6666488647461,"wires":[]},{"id":"5e50eecb.d7e9b","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["1bd9b63f4b60"],"name":"On Maintenance Stop","x":174.5714111328125,"y":1241.1428699493408,"wires":[["8d982044.d252"]]},{"id":"ae2ae25.ad2572","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"do initial settings","func":"//Set bad MotorTemp (15% likelihood)\nvar outOfNormalRange = Math.random() * 100 < 15;\nif(outOfNormalRange){\n maxMotorTemp = Math.floor(Math.random() * (220 - 185 + 1)) + 185;\n}\nreturn msg;","outputs":"1","noerr":0,"x":554.1190185546875,"y":206.57139205932617,"wires":[["b0588cd0.f5589","e6dc368.7bb8bc8","fc06ef90.7acfb"]]},{"id":"8d982044.d252","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Reset maintenance reason ","func":"if(maintenanceStop === false){\n maintenanceReason = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":426.42852783203125,"y":1241.4283447265625,"wires":[["2b56876f.a50118"]]},{"id":"b161bba7.aaece8","type":"comment","z":"ef0e4c34.537c1","name":"*************************************** Device UI ***************************************","info":"","x":438.3570556640625,"y":1745.5,"wires":[]},{"id":"11c6e23c.5378ee","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":340.16662216186523,"y":2798.285614013672,"wires":[["a6dfd078.98841","c12b34a6.37d898","3d0c98c1.cfab88","32718591.be037a","a7ae915b.cdb78","c3db0a6a.01b928","99bfe4d.1131e18","7e5cf708.088a08","e7e4a040.7c6f8","7a8fd14f.0f8e3","605ae5f8.71ed7c","56d62a99.1d4f14","cd6aeb91.25ed58","a15e90ca.e536b","52995525.a7906c","3429ca08.a11256","724fad5b.8a84d4","bd5a28fd.1a8948","cfd65428.63cfc8","92d0558f.f56dd8","e9ab9b1f.d20c08","c652599.ebf83a8","a3244c6e.ec7c2","41eb6509.cec84c","4a55a226.f0950c"]]},{"id":"a6dfd078.98841","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.9285430908203,"y":2451.1428661346436,"wires":[["4860277.de154d8"]]},{"id":"c12b34a6.37d898","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":9,"width":0,"height":0,"name":"Load","label":"load (kg)","format":"{{msg.payload.properties.load}}","layout":"row-left","x":512.3571014404297,"y":2991,"wires":[]},{"id":"3d0c98c1.cfab88","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":5,"width":0,"height":0,"name":"Cabin Speed","label":"Cabin Speed (feet/sec)","format":"{{msg.payload.properties.cabinSpeed}}","layout":"row-left","x":521.3571014404297,"y":3097,"wires":[]},{"id":"32718591.be037a","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":6,"width":0,"height":0,"name":"State","label":"State","format":"{{msg.payload.properties.state}}","layout":"row-left","x":505.02378845214844,"y":3145.666748046875,"wires":[]},{"id":"a7ae915b.cdb78","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":8,"width":0,"height":0,"name":"Current Floor","label":"Current Floor","format":"{{msg.payload.properties.currentFloor}}","layout":"row-left","x":479.69045639038086,"y":3231.000009536743,"wires":[]},{"id":"c3db0a6a.01b928","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":7,"width":0,"height":0,"name":"Door open","label":"Door open","format":"{{msg.payload.properties.doorOpen}}","layout":"row-left","x":494.0237693786621,"y":3273.666679382324,"wires":[]},{"id":"99bfe4d.1131e18","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":10,"width":0,"height":0,"name":"Direction","label":"Direction","format":"{{msg.payload.properties.direction === 1 ? \"UP\" : \"DOWN\"}}","layout":"row-left","x":573.3571166992188,"y":3317.3333129882812,"wires":[]},{"id":"4860277.de154d8","type":"ui_slider","z":"ef0e4c34.537c1","name":"Motor Temp","label":"Motor Temp","group":"d64c483.4b27ab8","order":1,"width":0,"height":0,"passthru":false,"topic":"","min":"120","max":"220","x":651.6428070068359,"y":2447.428575515747,"wires":[["270057f8.242f08"]]},{"id":"4ecd8148.b7b9e","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":301.9285430908203,"y":2447.1428661346436,"wires":[["a6dfd078.98841"]]},{"id":"1c6b701f.447b3","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":294.357120513916,"y":2998,"wires":[["c12b34a6.37d898"]]},{"id":"799bbd39.becd84","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":296.357120513916,"y":3051,"wires":[["a3244c6e.ec7c2"]]},{"id":"dc425d0e.573fc","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":323.357120513916,"y":3106,"wires":[["3d0c98c1.cfab88"]]},{"id":"c85c994.d3c7c68","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.35711669921875,"y":3149,"wires":[["32718591.be037a"]]},{"id":"a11adddc.08989","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":326.357120513916,"y":3228,"wires":[["a7ae915b.cdb78"]]},{"id":"8a5c1a1a.68d538","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":327.357120513916,"y":3284,"wires":[["c3db0a6a.01b928"]]},{"id":"b38df846.e3f378","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.357120513916,"y":3328,"wires":[["99bfe4d.1131e18"]]},{"id":"270057f8.242f08","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":824.071418762207,"y":2449.000015258789,"wires":[["aa54f797.753d38"]]},{"id":"2e961b6f.e52a64","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["e76a0e692587"],"name":"On motor temp change","x":112.92854309082031,"y":2446.142873764038,"wires":[["4ecd8148.b7b9e"]]},{"id":"101d5dba.034f32","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["bcca0e31b9d6"],"name":"On load Change","x":117.35712051391602,"y":2997,"wires":[["1c6b701f.447b3"]]},{"id":"f3b65f1f.554ad","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["80cc3cb81053"],"name":"On Cabin Temp Change","x":128.35712051391602,"y":3046,"wires":[["799bbd39.becd84"]]},{"id":"973c304e.658fa","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["40741d3132a4"],"name":"On Cabin Speed Change","x":137.35712051391602,"y":3106,"wires":[["dc425d0e.573fc"]]},{"id":"8db50d7.97bf1f","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["745ce852562a"],"name":"On State Change","x":108.35711669921875,"y":3149,"wires":[["c85c994.d3c7c68"]]},{"id":"c95f088d.366698","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["c2881d12e8f3"],"name":"On Current floor Change","x":140.35712051391602,"y":3228,"wires":[["a11adddc.08989"]]},{"id":"d1e1fb0a.378ec8","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["38416d39cffe"],"name":"On Door Open Change","x":131.35712051391602,"y":3284,"wires":[["8a5c1a1a.68d538"]]},{"id":"b5ac7261.df5d3","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["297fd95abda8"],"name":"On Direction Change","x":123.35712051391602,"y":3328,"wires":[["b38df846.e3f378"]]},{"id":"aa54f797.753d38","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set motor Temp","propAll":false,"prop":"e76a0e692587","valueType":"msg","value":"payload","x":1010.7142868041992,"y":2450.1428689956665,"wires":[[]]},{"id":"ff3db562.e15108","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":296.357120513916,"y":2911,"wires":[["41eb6509.cec84c"]]},{"id":"963e897b.83b488","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["e76a0e692587"],"name":"On motor temp change","x":126.35712051391602,"y":2916,"wires":[["ff3db562.e15108"]]},{"id":"996a2e04.0de4b","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["80cc3cb81053"],"name":"On Cabin Temp change","x":112.49997329711914,"y":2387.4285736083984,"wires":[["a295a543.d94d88"]]},{"id":"a295a543.d94d88","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":301.49997329711914,"y":2388.428565979004,"wires":[["7e5cf708.088a08"]]},{"id":"7e5cf708.088a08","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.cabinTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.49997329711914,"y":2392.428565979004,"wires":[["1d9a503e.bd524"]]},{"id":"1d9a503e.bd524","type":"ui_slider","z":"ef0e4c34.537c1","name":"Cabin Temp","label":"Cabin Temp","group":"d64c483.4b27ab8","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"100","x":651.2142372131348,"y":2388.7142753601074,"wires":[["5fcb8586.767ebc"]]},{"id":"5fcb8586.767ebc","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":823.6428489685059,"y":2390.2857151031494,"wires":[["d38ceae4.2b7e88"]]},{"id":"d38ceae4.2b7e88","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Cabin Temp","propAll":false,"prop":"80cc3cb81053","valueType":"msg","value":"payload","x":1010.285717010498,"y":2391.428568840027,"wires":[[]]},{"id":"1497fcbe.1ad9d3","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Force Open Door Temp","propAll":false,"prop":"717226438586","valueType":"msg","value":"payload","x":1046.7142906188965,"y":2523.142868041992,"wires":[[]]},{"id":"df9e58be.dfd6f8","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":837.2142562866211,"y":2519.142868041992,"wires":[["1497fcbe.1ad9d3"]]},{"id":"e7e4a040.7c6f8","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.forceOpenDoor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":472.6428871154785,"y":2518.4285926818848,"wires":[["cbf484c8.8e4918"]]},{"id":"5c0417b5.212da8","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":315.0714340209961,"y":2520.142873764038,"wires":[["e7e4a040.7c6f8"]]},{"id":"e2d27524.8565b8","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["e76a0e692587"],"name":"On force door open change","x":128.92854690551758,"y":2519.1428728103638,"wires":[["5c0417b5.212da8"]]},{"id":"cbf484c8.8e4918","type":"ui_switch","z":"ef0e4c34.537c1","name":"Force Open Door","label":"Force Open Door","group":"d64c483.4b27ab8","order":4,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":668.928539276123,"y":2518.857147216797,"wires":[["df9e58be.dfd6f8"]]},{"id":"3e77ed90.4c1162","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set maintenance stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload","x":1032.4285888671875,"y":2567.2857055664062,"wires":[[]]},{"id":"190211b8.5d833e","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":830.9285888671875,"y":2569.2857055664062,"wires":[["3e77ed90.4c1162","315e9000.0b855"]]},{"id":"e86d1ba5.76ea88","type":"ui_switch","z":"ef0e4c34.537c1","name":"maintenanceStop","label":"maintenanceStop","group":"d64c483.4b27ab8","order":5,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":674.6428489685059,"y":2575.999984741211,"wires":[["190211b8.5d833e"]]},{"id":"7a8fd14f.0f8e3","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.maintenanceStop","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.3571968078613,"y":2575.571430206299,"wires":[["e86d1ba5.76ea88"]]},{"id":"5e1b708e.3e4bb","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":320.7857437133789,"y":2577.285711288452,"wires":[["7a8fd14f.0f8e3"]]},{"id":"88b3f34e.57c7c","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["1bd9b63f4b60"],"name":"On maintenanceStop change","x":134.6428565979004,"y":2576.285710334778,"wires":[["5e1b708e.3e4bb"]]},{"id":"152e0248.6d00fe","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["bd4d2913cb07"],"name":"On Maintenance Reason Change","x":135,"y":3370,"wires":[["78f4d447.9f9b3c"]]},{"id":"78f4d447.9f9b3c","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":3368,"wires":[["605ae5f8.71ed7c"]]},{"id":"605ae5f8.71ed7c","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":11,"width":0,"height":0,"name":"Maintenance Reason","label":"Maintenance Reason","format":"{{msg.payload.properties.maintenanceReason}}","layout":"row-left","x":541.3333206176758,"y":3373.6666622161865,"wires":[]},{"id":"56d62a99.1d4f14","type":"ui_text","z":"ef0e4c34.537c1","group":"e53f3ef0.f4d1f","order":15,"width":0,"height":0,"name":"Max Motor Temp","label":"Max Motor Temp","format":"{{msg.payload.properties.maxMotorTemp}}","layout":"row-left","x":491,"y":2957,"wires":[]},{"id":"9fbd6745.a81608","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":314,"y":2954,"wires":[["56d62a99.1d4f14"]]},{"id":"6631983e.17ac28","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["efd6898dd4db"],"name":"On max motor temp change","x":125,"y":2955,"wires":[["9fbd6745.a81608"]]},{"id":"f4a22c2a.94097","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["efd6898dd4db"],"name":"On Max Motor temp change","x":125,"y":2483,"wires":[["b992165a.10f078"]]},{"id":"b992165a.10f078","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":313,"y":2483.9999923706055,"wires":[["a15e90ca.e536b"]]},{"id":"a15e90ca.e536b","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.maxMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":2484,"wires":[["fe2513dc.dc9de"]]},{"id":"fe2513dc.dc9de","type":"ui_slider","z":"ef0e4c34.537c1","name":"Max Motor Temp","label":"Max Motor Temp","group":"d64c483.4b27ab8","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"141","max":"220","x":682.7142639160156,"y":2484.285701751709,"wires":[["e2c90105.e19b4"]]},{"id":"e2c90105.e19b4","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":835.1428756713867,"y":2485.857141494751,"wires":[["9b330a89.d5f0c8"]]},{"id":"9b330a89.d5f0c8","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set max motor Temp","propAll":false,"prop":"efd6898dd4db","valueType":"msg","value":"payload","x":1041.785743713379,"y":2486.9999952316284,"wires":[[]]},{"id":"13cd626f.15455e","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["c15961c2f7bf"],"name":"On Next Stop","x":102,"y":3194,"wires":[["d813a349.60e5"]]},{"id":"d813a349.60e5","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":328,"y":3194,"wires":[["52995525.a7906c"]]},{"id":"52995525.a7906c","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":14,"width":0,"height":0,"name":"Next Stop","label":"Next Stop","format":"{{msg.payload.properties.gotoFloor}}","layout":"row-left","x":481.3333206176758,"y":3195.3333225250244,"wires":[]},{"id":"2dc39ce2.80a714","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["bcca0e31b9d6"],"name":"On load change","x":98.33332824707031,"y":2342.3333320617676,"wires":[["c2bd93b9.f03b1"]]},{"id":"c2bd93b9.f03b1","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":307.3333282470703,"y":2343.333324432373,"wires":[["cd6aeb91.25ed58"]]},{"id":"cd6aeb91.25ed58","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.load","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.3333282470703,"y":2347.333324432373,"wires":[["ce3a797b.ff72d8"]]},{"id":"ce3a797b.ff72d8","type":"ui_slider","z":"ef0e4c34.537c1","name":"Load","label":"Load","group":"d64c483.4b27ab8","order":3,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"2000","x":637.0475921630859,"y":2343.6190338134766,"wires":[["e4cce441.13bfd8"]]},{"id":"e4cce441.13bfd8","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":829.476203918457,"y":2345.1904735565186,"wires":[["85d113a1.ee3"]]},{"id":"85d113a1.ee3","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Load","propAll":false,"prop":"bcca0e31b9d6","valueType":"msg","value":"payload","x":996.1190719604492,"y":2346.333327293396,"wires":[[]]},{"id":"5e49c873.06cfa8","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["438e94df7c4a"],"name":"On Min Motor temp change","x":131.66665649414062,"y":2634,"wires":[["6c87f4dd.51d36c"]]},{"id":"6c87f4dd.51d36c","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.6666564941406,"y":2634.9999923706055,"wires":[["3429ca08.a11256"]]},{"id":"3429ca08.a11256","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.minMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":479.6666564941406,"y":2635,"wires":[["2405df91.414f3"]]},{"id":"2405df91.414f3","type":"ui_slider","z":"ef0e4c34.537c1","name":"Min Motor Temp","label":"Min Motor Temp","group":"d64c483.4b27ab8","order":7,"width":0,"height":0,"passthru":false,"topic":"","min":"100","max":"140","x":679.3809204101562,"y":2635.285701751709,"wires":[["bf016e66.12e7e"]]},{"id":"bf016e66.12e7e","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":841.8095321655273,"y":2636.857141494751,"wires":[["9e204c02.c75de"]]},{"id":"9e204c02.c75de","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set min motor Temp","propAll":false,"prop":"438e94df7c4a","valueType":"msg","value":"payload","x":1048.4524002075195,"y":2637.9999952316284,"wires":[[]]},{"id":"724fad5b.8a84d4","type":"ui_text","z":"ef0e4c34.537c1","group":"e53f3ef0.f4d1f","order":16,"width":0,"height":0,"name":"Min Motor Temp","label":"Min Motor Temp","format":"{{msg.payload.properties.minMotorTemp}}","layout":"row-left","x":742.3332977294922,"y":2843.6666259765625,"wires":[]},{"id":"214dc593.73d90a","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":327.3333282470703,"y":2867.6666564941406,"wires":[["724fad5b.8a84d4"]]},{"id":"efc7ef7b.516cc","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["438e94df7c4a"],"name":"On min motor temp change","x":138.3333282470703,"y":2868.6666564941406,"wires":[["214dc593.73d90a"]]},{"id":"8397c8a.5e5f938","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["2b397533cfa2"],"name":"curtainOfLightBreak Change","x":125,"y":3442,"wires":[["44b673c1.3afccc"]]},{"id":"44b673c1.3afccc","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":3440,"wires":[["bd5a28fd.1a8948"]]},{"id":"bd5a28fd.1a8948","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":13,"width":0,"height":0,"name":"curtain Of Light Break","label":"Curtain Of LightBreak","format":"{{msg.payload.properties.curtainOfLightBreak}}","layout":"row-left","x":541.3333206176758,"y":3445.6666622161865,"wires":[]},{"id":"ac8bd8e5.3a16c8","type":"ui_gauge","z":"ef0e4c34.537c1","name":"","group":"aeae03d8.3514b","order":2,"width":0,"height":0,"gtype":"gage","title":"Motor Temp","label":"Motor Temp","format":"{{value | number:1}}°F","min":"130","max":"200.00","colors":["#00b500","#e6e600","#ca3838"],"x":1003.4999847412109,"y":2926,"wires":[]},{"id":"97b5a94a.b2e098","type":"ui_gauge","z":"ef0e4c34.537c1","name":"","group":"aeae03d8.3514b","order":4,"width":0,"height":0,"gtype":"gage","title":"Cabin Temp","label":"°F","format":"{{value}}°F","min":"50","max":"140","colors":["#00b500","#e6e600","#ca3838"],"x":1009.6250457763672,"y":2976.125,"wires":[]},{"id":"c5e11e2d.2a5c5","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload","x":1156,"y":2602,"wires":[[]]},{"id":"315e9000.0b855","type":"change","z":"ef0e4c34.537c1","name":"Set maintenance reason ","rules":[{"t":"set","p":"payload","pt":"msg","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":917.5,"y":2602,"wires":[["c5e11e2d.2a5c5"]]},{"id":"cfd65428.63cfc8","type":"ui_text","z":"ef0e4c34.537c1","group":"aeae03d8.3514b","order":12,"width":0,"height":0,"name":"cleanessOfFloor","label":"Cleaness of floor","format":"{{msg.payload.properties.cleanessOfFloor}}","layout":"row-left","x":521.3333206176758,"y":3499,"wires":[]},{"id":"e964c06f.cb2e","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":3493.3333377838135,"wires":[["cfd65428.63cfc8"]]},{"id":"4ef9d471.8b9f8c","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["299639e87d50"],"name":"cleanessOfFloor Change","x":115,"y":3495.3333377838135,"wires":[["e964c06f.cb2e"]]},{"id":"a3f6ce75.f060f","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["459e0d4c3af6"],"name":"On curtainOfLightBreakRate","x":151.66665649414062,"y":2707.3333129882812,"wires":[["5410cdf1.e75894"]]},{"id":"5410cdf1.e75894","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":339.6666564941406,"y":2708.3333053588867,"wires":[["92d0558f.f56dd8"]]},{"id":"92d0558f.f56dd8","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.curtainOfLightBreakRate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":499.6666564941406,"y":2708.3333129882812,"wires":[["942dc2bc.ed4e2"]]},{"id":"942dc2bc.ed4e2","type":"ui_slider","z":"ef0e4c34.537c1","name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","group":"d64c483.4b27ab8","order":8,"width":0,"height":0,"passthru":false,"topic":"","min":"10","max":"20","x":741.0475769042969,"y":2716.9523487091064,"wires":[["af8a55a8.460d18"]]},{"id":"af8a55a8.460d18","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":928.476188659668,"y":2703.523780822754,"wires":[["27d7881e.535e48"]]},{"id":"27d7881e.535e48","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set Curtain of Light Break Rate","propAll":false,"prop":"459e0d4c3af6","valueType":"msg","value":"payload","x":1148.452392578125,"y":2704.666633605957,"wires":[[]]},{"id":"e9ab9b1f.d20c08","type":"ui_text","z":"ef0e4c34.537c1","group":"e53f3ef0.f4d1f","order":17,"width":0,"height":0,"name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","format":"{{msg.payload.properties.curtainOfLightBreakRate}}","layout":"row-left","x":728,"y":3565.6666774749756,"wires":[]},{"id":"180b5d09.12b863","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":425.6666717529297,"y":3560.000009536743,"wires":[["e9ab9b1f.d20c08"]]},{"id":"f9a27d66.3f306","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["459e0d4c3af6"],"name":"On Curtain of Light Break Rate Change","x":155,"y":3565.3333377838135,"wires":[["180b5d09.12b863"]]},{"id":"c652599.ebf83a8","type":"ui_text","z":"ef0e4c34.537c1","group":"e53f3ef0.f4d1f","order":18,"width":0,"height":0,"name":"floorStopReq","label":"Next Stops","format":"{{msg.payload.properties.floorStopReq}}","layout":"row-left","x":678,"y":3629,"wires":[]},{"id":"27b1ffb3.a950c","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":425.6666717529297,"y":3623.3333320617676,"wires":[["c652599.ebf83a8"]]},{"id":"1fb303ff.8484bc","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["7fa0c8927a50"],"name":"On Floor Req Change","x":105,"y":3628.666660308838,"wires":[["27b1ffb3.a950c"]]},{"id":"94965f52.7a8dc","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":2,"width":"1","height":"1","label":"0","color":"","icon":"","payload":"0","payloadType":"num","topic":"","x":94.5,"y":1989.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"c3a22298.b7c9f","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":3,"width":"1","height":"1","label":"1","color":"","icon":"","payload":"1","payloadType":"num","topic":"","x":99,"y":2023.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"d343a4d.a10a158","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":4,"width":"1","height":"1","label":"2","color":"","icon":"","payload":"2","payloadType":"num","topic":"","x":101,"y":2056.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"2964563e.3fe22a","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":5,"width":"1","height":"1","label":"3","color":"","icon":"","payload":"3","payloadType":"num","topic":"","x":102,"y":2090.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"87d43c7.5bf78c","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":6,"width":"1","height":"1","label":"4","color":"","icon":"","payload":"4","payloadType":"num","topic":"","x":103,"y":2125.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"f49763e5.221e7","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":7,"width":"1","height":"1","label":"5","color":"","icon":"","payload":"5","payloadType":"num","topic":"","x":107,"y":2159.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"467a7b4a.c48074","type":"ui_button","z":"ef0e4c34.537c1","name":"","group":"e7b4bfe5.3d1ce","order":8,"width":"1","height":"1","label":"6","color":"","icon":"","payload":"6","payloadType":"num","topic":"","x":108,"y":2191.0001220703125,"wires":[["22ebaea8.14c1d2"]]},{"id":"22ebaea8.14c1d2","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":2050.0001220703125,"wires":[["e910509c.c3342"]]},{"id":"e910509c.c3342","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Add floor stop","func":"floorStopReq.push(msg.payload);\nfloorStopReq.touch();\nreturn msg;","outputs":1,"noerr":0,"x":512.5,"y":2047.0001220703125,"wires":[[]]},{"id":"41eb6509.cec84c","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.6190032958984,"y":2933.33349609375,"wires":[["ac8bd8e5.3a16c8"]]},{"id":"a3244c6e.ec7c2","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.cabinTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":833.6190032958984,"y":2999.3333740234375,"wires":[["97b5a94a.b2e098"]]},{"id":"147210a0.6f201f","type":"link in","z":"ef0e4c34.537c1","name":"Reset Values","links":["208b03c8.73255c","f3d7634e.c7e19"],"x":217.47619247436523,"y":2796.9999866485596,"wires":[["11c6e23c.5378ee"]]},{"id":"77dd8bfa.7caa44","type":"comment","z":"ef0e4c34.537c1","name":"Reset values (when a devices is created or active device is changed","info":"","x":290.33331298828125,"y":2757.476219177246,"wires":[]},{"id":"b320d31b.0de61","type":"comment","z":"ef0e4c34.537c1","name":"Send 'Status' event each 5 sec if not in Maintenance State","info":"","x":541.6431274414062,"y":1010.952392578125,"wires":[]},{"id":"b0588cd0.f5589","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set state to idle","propAll":false,"prop":"745ce852562a","valueType":"str","value":"idle","x":824.0714111328125,"y":216.0476303100586,"wires":[["2f5fc68d.49ac5a"]]},{"id":"da5c2c3d.a417b","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set state to off","propAll":false,"prop":"745ce852562a","valueType":"str","value":"off","x":586.4523391723633,"y":1602.4167861938477,"wires":[["82cce694.7dc918"]]},{"id":"b4af9174.b2d89","type":"ibmiot out","z":"ef0e4c34.537c1","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"frompayload","deviceType":"0.14.6","eventCommandType":"frompayload","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1042.5001525878906,"y":1134.3809814453125,"wires":[]},{"id":"2b56876f.a50118","type":"delay","z":"ef0e4c34.537c1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630.7856750488281,"y":1241.2857666015625,"wires":[["d4aa186c.e78778"]]},{"id":"39b5b3a4.5cfe0c","type":"switch","z":"ef0e4c34.537c1","name":"Switch State","property":"payload.properties.state","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"moving","vt":"str"},{"t":"eq","v":"stopped","vt":"str"},{"t":"eq","v":"loading","vt":"str"},{"t":"eq","v":"maintenance","vt":"str"}],"checkall":"true","outputs":5,"x":224.78570556640625,"y":429.33338165283203,"wires":[["eda63f4.dcc8ec"],["b3cc35a9.0ebbc8"],["62e51088.2a192"],["1e677774.252f39"],["76f4b0af.fd18b"]]},{"id":"eda63f4.dcc8ec","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"idle","func":"if(!forceOpenDoor)\n doorOpen = false;\ndirection = 0;\n//cool down motor\nvar newMotorTemp = motorTemp - 0.05;\nmotorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp :newMotorTemp;\nreturn msg;\n","outputs":"1","noerr":0,"x":475.952392578125,"y":445.0000534057617,"wires":[["3f30dbda.f824d4"]]},{"id":"76f4b0af.fd18b","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Maintenance ","func":"doorOpen = true;\ndirection = 0;\nvar newMotorTemp = motorTemp - 0.2;\nmotorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp : newMotorTemp;\n;\nreturn msg;","outputs":1,"noerr":0,"x":472.9523620605469,"y":855.3333969116211,"wires":[["aed65b97.a84c88"]]},{"id":"aed65b97.a84c88","type":"delay","z":"ef0e4c34.537c1","name":"maintenance Stop For 10 minutes ","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":725.6190185546875,"y":854.0001449584961,"wires":[["36a6d7a.88fab28"]]},{"id":"36a6d7a.88fab28","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Done Maintenance Stop","func":"if(maintenanceStop){//if still in maintenanceStop (was not canceled)\n maintenanceStop = false;\n maintenanceReason = \"\";\n return msg;\n}\nelse\n return null;","outputs":"1","noerr":0,"x":1000.6190185546875,"y":853.0000839233398,"wires":[["75b0a3ce.57d5dc"]]},{"id":"75b0a3ce.57d5dc","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"calc next state","func":"var nextState = null;\nswitch(state){\ncase \"idle\":\n\tif(maintenanceStop){\n\t\tnextState = \"maintenance\";\n\t}\n\telse if(floorStopReq.length > 0){\n\t\tnextState = \"moving\";\t\t\n\t}\n\telse{\n\t\tnextState = \"idle\"\n\t}\n\tbreak;\n\t\ncase \"moving\":\n\tnextState = \"stopped\";\n\tbreak;\n\t\ncase \"stopped\":\n\tnextState = \"loading\";\n\tbreak;\n\t\ncase \"loading\":\n\tif(maintenanceStop){\n\t\tnextState = \"maintenance\";\n\t}\n\telse if(floorStopReq.length > 0){\n\t\tnextState = \"moving\";\t\t\n\t}\n\telse{\n\t\tnextState = \"idle\";\t\t\n\t}\n\tbreak;\n\t\ncase \"maintenance\":\n\tnextState = \"idle\";\n\tbreak;\n\t\ndefault:\n var err = \"unknow state: \" + state;\n node.error(err);\n\tnode.status({fill:\"red\",shape:\"ring\",text: err});\n\treturn null;\n}\nnode.status({fill:\"green\",shape:\"ring\",text: msg.deviceId + \":\" + nextState});\nmsg.payload.properties = {state: nextState};\nreturn msg;","outputs":1,"noerr":0,"x":1131.7856750488281,"y":542.666748046875,"wires":[["f265beac.adedc"]]},{"id":"e43a9f66.c0c16","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"moving","func":"//increase cabin speed\nif(cabinSpeed <15){\ncabinSpeed = ( (cabinSpeed + 4) <= 14) ? cabinSpeed + 4 : 14;\n}\n\n//increase motor tepm\nvar newMotorTemp = motorTemp + 0.02;\nmotorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp :newMotorTemp;\n\n//update current floor\nvar nextFloor = currentFloor + direction;\n//make sure floor is in range \nif(nextFloor < 0){\n direction = 1;\n currentFloor = 0;\n} \nelse if(nextFloor > numberOfFloors){\n direction = -1;\n currentFloor = numberOfFloors;\n}\nelse{//set as current floor\n currentFloor = nextFloor;\n}\n\n//if maintenanceStop is set the stop at this floor\nif(maintenanceStop)\n gotoFloor = currentFloor;\n\n//check if need to stop\nif(currentFloor === gotoFloor){\n return [msg, null];//stop\n}\nelse{//keep moving\n return [null,msg];//keep moving \n}\n","outputs":"2","noerr":0,"x":870.6189956665039,"y":556.6667556762695,"wires":[["75b0a3ce.57d5dc"],["6733bc12.c28fb4"]]},{"id":"6733bc12.c28fb4","type":"delay","z":"ef0e4c34.537c1","name":"moving 3 sec per floor ","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":838.6189270019531,"y":605.6667938232422,"wires":[["e43a9f66.c0c16"]]},{"id":"b3cc35a9.0ebbc8","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"moving (start)","func":"\nif(!forceOpenDoor){\n doorOpen = false;\n}\n//set dest floor\ndo {\n gotoFloor = floorStopReq.shift();\n}\nwhile(gotoFloor === currentFloor);//filter out req to current floor\nfloorStopReq.touch();\ndirection = (gotoFloor > currentFloor) ? 1 : -1;\nreturn msg;","outputs":"1","noerr":0,"x":487.2856750488281,"y":552.3334884643555,"wires":[["1ca94dab.84bc82"]]},{"id":"1ca94dab.84bc82","type":"delay","z":"ef0e4c34.537c1","name":"Start moving 3 sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":687.2856750488281,"y":554.3334884643555,"wires":[["e43a9f66.c0c16"]]},{"id":"3f30dbda.f824d4","type":"delay","z":"ef0e4c34.537c1","name":"Ideal state 10 sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":681.2857055664062,"y":446.3333969116211,"wires":[["75b0a3ce.57d5dc"]]},{"id":"62e51088.2a192","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Stopping","func":"doorOpen = true;\ncabinSpeed = 0;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":470.619140625,"y":681.3333969116211,"wires":[["b66d9ae0.d11608"]]},{"id":"b66d9ae0.d11608","type":"delay","z":"ef0e4c34.537c1","name":"stopped state 6 sec","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710.6190490722656,"y":683.3333969116211,"wires":[["75b0a3ce.57d5dc"]]},{"id":"1e677774.252f39","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"loading","func":"//if in maintenanceStop put all people out\nif(maintenanceStop){\n load = 0;\n return msg;\n}\n\n//else load & unload poeple (70kg avg each)\nvar minPersonsIn = (load === 0) ? 1 : 0;\nvar personsIn = Math.floor(Math.random() * (4 - minPersonsIn + 1)) + minPersonsIn;\nvar personsOut = Math.floor(Math.random() * (Math.floor(load/70) + 1));\nvar newLoad = load + (personsIn*70) - (personsOut*70);\nload = (newLoad < 0) ? 0 : newLoad;\n\n//curtainOfLightBreak every 10 stops \nif(curtainOfLightBreak !== 1){\n curtainOfLightBreakCount++;\n if(curtainOfLightBreakCount === curtainOfLightBreakRate){\n curtainOfLightBreakCount = 0;\n curtainOfLightBreak = 1;\n }\n}\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":468.28570556640625,"y":777.0000228881836,"wires":[["e61856fa.cc80f8"]]},{"id":"e61856fa.cc80f8","type":"delay","z":"ef0e4c34.537c1","name":"loading state 8 sec","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":653.9524459838867,"y":776.6666946411133,"wires":[["cac033ff.d5526"]]},{"id":"cac033ff.d5526","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"reset curtainOfLightBreak","func":"curtainOfLightBreak = 0;\nreturn msg;","outputs":"1","noerr":0,"x":891.5952758789062,"y":778.6666793823242,"wires":[["75b0a3ce.57d5dc"]]},{"id":"57abd2d5.f25cec","type":"comment","z":"ef0e4c34.537c1","name":"Idle State","info":"","x":465.9523620605469,"y":407.6666488647461,"wires":[]},{"id":"b5eeee87.259b4","type":"comment","z":"ef0e4c34.537c1","name":"Moving State","info":"","x":478.9523620605469,"y":519.6666564941406,"wires":[]},{"id":"a6872046.91423","type":"comment","z":"ef0e4c34.537c1","name":"Stopping State","info":"","x":484.9523620605469,"y":648.6666793823242,"wires":[]},{"id":"a5fd1169.3dc6d","type":"comment","z":"ef0e4c34.537c1","name":"Loading State","info":"","x":473.9523620605469,"y":742.6666870117188,"wires":[]},{"id":"a6c79353.3f42f","type":"comment","z":"ef0e4c34.537c1","name":"Maintenance State","info":"","x":496.9523620605469,"y":822.6666870117188,"wires":[]},{"id":"1f21c5c7.43180a","type":"link in","z":"ef0e4c34.537c1","name":"Switch State","links":["2f5fc68d.49ac5a"],"x":169.11903381347656,"y":361.0000228881836,"wires":[["39b5b3a4.5cfe0c"]]},{"id":"2f5fc68d.49ac5a","type":"link out","z":"ef0e4c34.537c1","name":"Switch State","links":["1f21c5c7.43180a"],"x":1230.4048500061035,"y":392.3333225250244,"wires":[]},{"id":"405e735a.541f0c","type":"comment","z":"ef0e4c34.537c1","name":"Switch States","info":"","x":1320.2380828857422,"y":390.6666622161865,"wires":[]},{"id":"d14c6d7a.628da","type":"comment","z":"ef0e4c34.537c1","name":"Send Events","info":"","x":124.23807525634766,"y":963.952392578125,"wires":[]},{"id":"2c33334b.83a4cc","type":"link in","z":"ef0e4c34.537c1","name":"Send Events","links":["e6dc368.7bb8bc8"],"x":157.1904754638672,"y":1001.90478515625,"wires":[["6ef7b2f8.1714ec"]]},{"id":"e6dc368.7bb8bc8","type":"link out","z":"ef0e4c34.537c1","name":"Send Events","links":["2c33334b.83a4cc"],"x":723.6189575195312,"y":136.5238037109375,"wires":[]},{"id":"36e78499.180b1c","type":"comment","z":"ef0e4c34.537c1","name":"Start Status Events","info":"","x":834.5237731933594,"y":138.09525299072266,"wires":[]},{"id":"831c522f.dc2e9","type":"comment","z":"ef0e4c34.537c1","name":"Send 'Maintenance' event when occured","info":"","x":228.6666259765625,"y":1203.6667442321777,"wires":[]},{"id":"f265beac.adedc","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set state ","propAll":false,"prop":"745ce852562a","valueType":"msg","value":"payload.properties.state","x":1236.2857246398926,"y":476.2500057220459,"wires":[["2f5fc68d.49ac5a"]]},{"id":"6268d9d5.4291e8","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["1bd9b63f4b60"],"name":"On Maintenance Stop Change","x":824.9523010253906,"y":904.0000305175781,"wires":[["3b1b3b6d.a87834"]]},{"id":"3b1b3b6d.a87834","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"on Cancel Maintenance Stop ","func":"if(maintenanceStop === false && state === \"maintenance\")\n return msg;\nelse\n return null;","outputs":"1","noerr":0,"x":1113.9523010253906,"y":903.3334045410156,"wires":[["75b0a3ce.57d5dc"]]},{"id":"7dac6ecc.11884","type":"device listener","z":"ef0e4c34.537c1","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"40b03d0d.cdc244","props":["3e84a9a94615"],"name":"On auto floors selection change","x":135,"y":2246,"wires":[["b4e32b2a.e633d8"]]},{"id":"b4e32b2a.e633d8","type":"switch","z":"ef0e4c34.537c1","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":331.1428871154785,"y":2249.0000009536743,"wires":[["4a55a226.f0950c"]]},{"id":"4a55a226.f0950c","type":"change","z":"ef0e4c34.537c1","name":"format payload","rules":[{"t":"move","p":"payload.properties.autoFloorSelection","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.71434020996094,"y":2247.285719871521,"wires":[["8265c212.5e77e"]]},{"id":"8265c212.5e77e","type":"ui_switch","z":"ef0e4c34.537c1","name":"Auto Floors Selection","label":"Auto Floors Selection","group":"e7b4bfe5.3d1ce","order":1,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":694.9999923706055,"y":2247.714274406433,"wires":[["85a9d96f.2078a8"]]},{"id":"85a9d96f.2078a8","type":"function","z":"ef0e4c34.537c1","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":863.2857360839844,"y":2244,"wires":[["c4b2c485.74fac8"]]},{"id":"c4b2c485.74fac8","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Set auto floors selection ","propAll":false,"prop":"3e84a9a94615","valueType":"msg","value":"payload","x":1064.7857360839844,"y":2235,"wires":[[]]},{"id":"fc06ef90.7acfb","type":"link out","z":"ef0e4c34.537c1","name":"Auto Floor Selection","links":["71e1e28a.d7a07c","6f4c3b88.2bbd14"],"x":708.2857055664062,"y":277.6666488647461,"wires":[]},{"id":"d0729128.a60e2","type":"comment","z":"ef0e4c34.537c1","name":"Auto Floor Selection","info":"","x":813.1906127929688,"y":276.23809814453125,"wires":[]},{"id":"6f4c3b88.2bbd14","type":"link in","z":"ef0e4c34.537c1","name":"Auto Floor Selection","links":["fc06ef90.7acfb"],"x":94.61895942687988,"y":1333.666591644287,"wires":[["4a941221.88540c"]]},{"id":"b41207da.e61108","type":"comment","z":"ef0e4c34.537c1","name":"Auto Floor Selection","info":"","x":163.94050216674805,"y":1298.1546268463135,"wires":[]},{"id":"ef0f06d1.0ac548","type":"delay","z":"ef0e4c34.537c1","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":683.1189880371094,"y":1349.4166259765625,"wires":[["4a941221.88540c"]]},{"id":"4a941221.88540c","type":"device function","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"Add floor stop","func":"if(!autoFloorSelection)//autoFloorSelection disabled\n return msg;\n \nvar floor = Math.floor(Math.random() * (numberOfFloors - 1));\nif(floorStopReq.indexOf(floor) === -1){\n floorStopReq.push(floor);\n floorStopReq.touch();\n}\nreturn msg;","outputs":1,"noerr":0,"x":371.1190185546875,"y":1335.1666259765625,"wires":[["ef0f06d1.0ac548"]]},{"id":"2af569e.67c8a96","type":"function","z":"ef0e4c34.537c1","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n var deviceId;\n if(i < 9) {\n \n deviceId = \"Elevator0\" + (i+1); \n } else {\n deviceId = \"Elevator\" + (i+1); \n }\n deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":185.03571319580078,"y":182.83333015441895,"wires":[["176c6b5e.16d135"]]},{"id":"7bf62286.31be6c","type":"inject","z":"ef0e4c34.537c1","name":"start 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":true,"x":191.1428565979004,"y":107,"wires":[["2af569e.67c8a96"]]},{"id":"c27c2393.b649f","type":"function","z":"ef0e4c34.537c1","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n var deviceId;\n if(i < 9) {\n \n deviceId = \"Elevator0\" + (i+1); \n } else {\n deviceId = \"Elevator\" + (i+1); \n }\n deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":387.53570556640625,"y":1602.8334140777588,"wires":[["da5c2c3d.a417b"]]},{"id":"494e1806.759388","type":"inject","z":"ef0e4c34.537c1","name":"stop 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":172.3928565979004,"y":1598.2500381469727,"wires":[["c27c2393.b649f"]]},{"id":"fb69d926.63f4c8","type":"set properties","z":"ef0e4c34.537c1","deviceId":"","schema":"40b03d0d.cdc244","name":"get active device properties","propAll":true,"prop":"9f9135f2be17","valueType":"msg","value":"payload","x":1051.0235290527344,"y":1880.3333740234375,"wires":[["f3d7634e.c7e19"]]},{"id":"a71e3472.3dddd8","type":"function","z":"ef0e4c34.537c1","name":"Change active Device","func":"flow.set(\"deviceId\",msg.payload);\nreturn {payload:{deviceId:msg.payload}};","outputs":1,"noerr":0,"x":778.0951232910156,"y":1879.4881591796875,"wires":[["fb69d926.63f4c8"]]},{"id":"50b4d248.303d8c","type":"function","z":"ef0e4c34.537c1","name":"add device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\") || null;\nvar deviceId = msg.payload.deviceId;\nnode.log(msg.payload.deviceId);\nif (devices.indexOf(deviceId) < 0)\n{\n devices.push(msg.payload.deviceId);\n flow.set(\"activeDevices\", devices);\n if (selectedId === null)\n {\n selectedId = devices[0];\n flow.set(\"deviceId\", selectedId);\n }\n}\n\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":315.78570556640625,"y":1858.2025146484375,"wires":[["76c49c26.bdc6a4"]]},{"id":"39b85aa2.62ae76","type":"function","z":"ef0e4c34.537c1","name":"remove device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\n\nvar deviceId = msg.payload.deviceId;\nvar index = devices.indexOf(deviceId);\nif (index >= 0)\n{\n devices.splice(index,1);\n flow.set(\"activeDevices\", devices);\n\n if (selectedId === deviceId)\n {\n selectedId = devices[0];\n flow.set(\"deviceId\", selectedId);\n \n }\n}\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":305.8571472167969,"y":1910.631103515625,"wires":[["76c49c26.bdc6a4"]]},{"id":"da138f13.2c1ff","type":"device listener","z":"ef0e4c34.537c1","monitor":"start","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"40b03d0d.cdc244","props":[],"name":"device started","x":91.92855072021484,"y":1823.6312255859375,"wires":[["50b4d248.303d8c","f3d7634e.c7e19"]]},{"id":"385b72c9.36ba1e","type":"device listener","z":"ef0e4c34.537c1","monitor":"stop","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"","props":[],"name":"device deleted","x":97,"y":1876.0594482421875,"wires":[["39b85aa2.62ae76"]]},{"id":"76c49c26.bdc6a4","type":"ui_dropdown","z":"ef0e4c34.537c1","name":"Select instance","label":"Select Device instance","group":"8860f516.0ccb08","order":9,"width":"0","height":"0","options":[{"label":"","value":""}],"payload":"","topic":"","x":567.1427917480469,"y":1882.34521484375,"wires":[["a71e3472.3dddd8"]]},{"id":"f3d7634e.c7e19","type":"link out","z":"ef0e4c34.537c1","name":"Reset Values","links":["147210a0.6f201f"],"x":1320.4047546386719,"y":1829.297607421875,"wires":[]},{"id":"7dffe203.0d821c","type":"comment","z":"ef0e4c34.537c1","name":"Set properties in UI","info":"","x":1431.6666259765625,"y":1825.666748046875,"wires":[]},{"id":"c57caf8c.7999","type":"comment","z":"ef0e4c34.537c1","name":"**************************************** Device Behavior ****************************************","info":"","x":491,"y":67,"wires":[]},{"id":"40b03d0d.cdc244","type":"Device Schema","z":"","deviceType":"Elevator","props":[{"guid":"e76a0e692587","name":"motorTemp","random":{"func":"floating","args":{"min":150,"max":170,"fixed":4}}},{"guid":"c2881d12e8f3","name":"currentFloor","random":{"func":"integer","args":{"min":0,"max":6}}},{"guid":"38416d39cffe","name":"doorOpen","defaultValue":{"type":"bool","value":"false"}},{"guid":"745ce852562a","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"d1ebf05ff8fb","name":"numberOfFloors","defaultValue":{"type":"num","value":"6"}},{"guid":"80cc3cb81053","name":"cabinTemp","random":{"func":"integer","args":{"min":70,"max":95}}},{"guid":"40741d3132a4","name":"cabinSpeed","defaultValue":{"type":"num","value":"0"}},{"guid":"297fd95abda8","name":"direction","defaultValue":{"type":"num","value":"1"}},{"guid":"bcca0e31b9d6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"c15961c2f7bf","name":"gotoFloor","defaultValue":{"type":"num","value":"0"}},{"guid":"1bd9b63f4b60","name":"maintenanceStop","defaultValue":{"type":"bool","value":"false"}},{"guid":"717226438586","name":"forceOpenDoor","defaultValue":{"type":"bool","value":"false"}},{"guid":"bd4d2913cb07","name":"maintenanceReason","defaultValue":{"type":"str","value":""}},{"guid":"efd6898dd4db","name":"maxMotorTemp","defaultValue":{"type":"num","value":"180"}},{"guid":"438e94df7c4a","name":"minMotorTemp","defaultValue":{"type":"num","value":"140"}},{"guid":"2b397533cfa2","name":"curtainOfLightBreak","defaultValue":{"type":"num","value":"0"}},{"guid":"299639e87d50","name":"cleanessOfFloor","defaultValue":{"type":"num","value":"1"}},{"guid":"ba7d2793453d","name":"curtainOfLightBreakCount","defaultValue":{"type":"num","value":"0"}},{"guid":"459e0d4c3af6","name":"curtainOfLightBreakRate","defaultValue":{"type":"num","value":"10"}},{"guid":"7fa0c8927a50","name":"floorStopReq","defaultValue":{"type":"json","value":"[]"}},{"guid":"3e84a9a94615","name":"autoFloorSelection","defaultValue":{"type":"bool","value":"true"}}],"evts":[{"guid":"0612deed98b7","name":"Status","payload":{"properties":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"7":{},"8":{},"9":{},"10":{},"length":11,"prevObject":{"0":{"sizzle1475756474458":{"parentNode":[1051,29,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}},{"guid":"21024c33b8dd","name":"Maintenance_event","payload":{"properties":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1475756474458":{"parentNode":[1052,29,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}}]},{"id":"aeae03d8.3514b","type":"ui_group","z":"ef0e4c34.537c1","name":"Elevator Properties","tab":"9e0ccdf9.16607","order":4,"disp":true,"width":"6"},{"id":"d64c483.4b27ab8","type":"ui_group","z":"ef0e4c34.537c1","name":"Elevator Control","tab":"9e0ccdf9.16607","order":3,"disp":true,"width":"6"},{"id":"e53f3ef0.f4d1f","type":"ui_group","z":"ef0e4c34.537c1","name":"Simulation Config","tab":"9e0ccdf9.16607","order":5,"disp":true,"width":"6"},{"id":"e7b4bfe5.3d1ce","type":"ui_group","z":"ef0e4c34.537c1","name":"Floors panel","tab":"9e0ccdf9.16607","order":2,"disp":true,"width":"7"},{"id":"8860f516.0ccb08","type":"ui_group","z":"ef0e4c34.537c1","name":"Instance","tab":"9e0ccdf9.16607","order":1,"disp":true,"width":"6"},{"id":"9e0ccdf9.16607","type":"ui_tab","z":"ef0e4c34.537c1","name":"Elevator","icon":"dashboard","order":1}]
